{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/png" href="{% static 'images/icons/cohete.png' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        
        <title> {% block title %} Project {% endblock %} </title>
    </head>
    <body>
        <!--
		#STICKY ================================== -->
		<div id="sticky" class="nav-bar">
            <div class="container">
                <div class="justify-space-between align-items-center">
                    <div>
                        <a class="logo d-flex justify-space-between align-items-center" href="{% url 'home' %}">
                            <img class="logo-orion" src="{% static 'images/orion_logo.png' %}">
                            <span class="ml-2">ORION</span>
                        </a>
                    </div><!-- /end logo -->
                    <div>
                        <div id="btn-menu">
                            <span class="bars"></span>
                            <span class="bars"></span>
                            <span class="bars"></span>
                            <span class="bars"></span>
                        </div><!-- /end btn-menu -->
                        <nav>
                            <ul>
                                {% block nav %}
                                <li><a id="options-about" class="links hover-img" href="{% url 'admin:index' %}">Administration</a></li>
                                <li><a id="options-sign" class="links hover-img" href="{% url 'signup' %}">SignUp</a></li>
                                <li><a id="options-log" class="links hover-img" href="{% url 'login' %}">LogIn</a></li>
                                {% endblock %}
                            </ul><!-- /end ul -->
                        </nav><!-- /end nav -->
                    </div>
                </div><!-- /end d-flex -->
            </div><!-- /end container -->
        </div><!-- /end nav-bar -->

        <header></header><!-- /end header -->

        <main>
            {% block content %}
                
            {% endblock %}
        </main><!-- / end main-->

        <!--
		#FOOTER ================================== -->
		<footer>
            <div class="footer-container">
                <div class="container">
                    <p class="text-footer">&copy; Orion Valentina 2018</p>
                </div><!-- /end container -->
            </div><!-- /end footer-container -->
        </footer><!-- /end footer -->

        <script src="{% static 'js/jquery.min.js'%}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/fontawesome-all.js'%}"></script>
		<script src="{% static 'js/script.js'%}"></script>
        <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script>
        $(document).ready(function() {
            $('#users').DataTable();
        });
        </script>
    </body>
</html>
