{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Task{% endblock %}

{% block content %}
<div class="container wrapper-25">
    <div class="jumbotron border-15">
        <h1 class="text-center title">TASK</h1>
        <div class="row">
            <div class="col-md-2 d-none d-md-flex">
            </div><!-- /end col -->
            <div class="col-md-8">
                <form class="container-form" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {{ field }}
                    {% endfor %}
                    <div class="d-flex justify-content-center align-items-center">
                        <div>
                            <button class="btn btn-primary badge-pill mb-4 text-btn">Acept</button>
                        </div>
                        <a class="btn btn-danger badge-pill mb-4 text-btn ml-3" href="{% url 'tasks' %}">Cancel</a>
                    </div>
                </form><!-- /end form -->
            </div><!-- /end col -->
            <div class="col-md-2 d-none d-md-flex">
            </div><!-- /end col -->
        </div><!-- /end row -->
    </div><!-- /end jumbotron -->
</div><!-- /end container -->
{% endblock %}
